/* MY TEMPLATE */
* {
	/* Outline to view layout on screen while styling | Remove after styling */
	/* outline: 1px dashed #ff0075; */
	margin: 0;
	padding: 0;
}
html {
	box-sizing: border-box;
	font-size: 100%;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

/* BASIC styles */

body {
	font-family: "Open Sans", sans-serif;
	width: 100%;
	max-width: 75em;
	margin: 0 auto;
	background-color: #78cce2;
	color: #002439;
}
main {
	background-color: #E4EFF0;
}

/* HEADER */
.hero {
	/* photo(as background) by Jake Weirick on Unsplash */
	background: url(https://images.unsplash.com/photo-1520034475321-cbe63696469a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80)
		center;
	background-size: cover;
	padding: 4em 2em;

	/* h1 grid style */
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
	align-items: center;
	color: #e4eff0;
}
.hero h1 {
	font-family: "Orbitron", sans-serif;
	font-size: 3.5rem;
	padding-bottom: 0.5em;
}
.hero article p {
	font-size: 1.5rem;
}
.hero article a {
	padding: 1em;
	margin-top: 0.75em;
	text-transform: uppercase;
	background-color: #4e7988;
	color: #e4eff0;
	text-decoration: none;
	border-radius: 0.25em;
	text-align: center;
	display: inline-block;
	transition-property: all 0.5s;
}
.hero article a:hover {
	opacity: 0.85;
}

/* CONTAINER */
.container {
	padding: 2em;
	min-width: 25em;
}
h4 {
	font-family: "Orbitron", sans-serif;
	font-size: 1.25rem;
	color: #005066;
	margin-bottom: 0.25em;
}
/* GRID */
.grid {
	padding: 3.5em 0;
	display: grid;
	grid-gap: 1.25em;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	justify-content: center;
}
.grid-item img {
	object-fit: cover;
	width: 100%;
	max-width: 100%;
	height: 100%;
	border-radius: 0.3em;
	box-shadow: 2px 2px 2px rgba(0, 36, 57, 0.4);
	transition: transform 0.3s ease-in-out;
}

.grid-item a:hover #img1,
.grid-item a:focus #img1 {
	transform: rotate(-15deg) scale(1.5);
	transform-origin: center bottom;
}
.grid-item a:hover #img2,
.grid-item a:focus #img2 {
	transform: skewX(15deg) scale(1.25);
	filter: saturate(3);
}
.grid-item a:hover #img3,
.grid-item a:focus #img3 {
	transform: translate(-5%, -25%) scale(1.0);
}
.grid-item a:hover #img4,
.grid-item a:focus #img4 {
	transform: rotate(30deg) scale(1.5);
	transform-origin: 100% 0%;
	filter:grayscale(100%);
}
.grid-item a:hover img {
	box-shadow: 6px 6px 6px rgba(0, 36, 57, 0.3);
}

/* FOOTER */
footer {
	background-color: #002439;
	padding: 0.75em;
	color: #e4eff0;
	text-align: center;
	font-size: 0.75rem;
}
