/* MY TEMPLATE RESET */
* {
	/* Outline to view layout on screen while styling | Remove after styling */
	outline: 1px dashed #ff0075;
	margin: 0;
	padding: 0;
}
html {
	box-sizing: border-box;
	font-size: 100%;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

/* color variables */
:root {
	--aquamarine-blue: #78cce2;
	--dark-green-blue: #002439;
	--light-aqua: #e4eff0;
	--gray-blue: #4e7988;
	--green-blue: #005066;
}

/* BASIC styles */
body {
	font-family: "Open Sans", sans-serif;
	width: 100%;
	max-width: 100em;
	margin: 0 auto;
	background-color: var(--aquamarine-blue);
	color: var(--dark-green-blue);
}
main {
	background-color: var(--light-aqua);
}

/* HEADER */
.hero {
	background: url(https://images.unsplash.com/photo-1520034475321-cbe63696469a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80)
		center;
	background-size: cover;
	padding: 4em 2em;
	/* h1 grid style */
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
	align-items: center;
	color: var(--light-aqua);
}
.hero h1 {
	font-family: "Orbitron", sans-serif;
	font-size: 3.75rem;
	padding-bottom: 1em;
}
.hero article p {
	font-size: 1.5rem;
	line-height: 1.5;
}
.hero article a {
	padding: 1em;
	margin-top: 1em;
	text-transform: uppercase;
	background-color: var(--gray-blue);
	color: var(--light-aqua);
	text-decoration: none;
	border-radius: 0.25em;
	text-align: center;
	display: inline-block;
	transition-property: all 0.5s;
}
.hero article a:hover {
	opacity: 0.85;
}

/* CONTAINER */
.container {
	padding: 2em;
	/* min-width: 25em; */
}
.container h4 {
	font-family: "Orbitron", sans-serif;
	font-size: 1.25rem;
	color: var(--green-blue);
	padding: 1em 0;
	margin: 1em 0;
}

/* GRID */
.grid {
	margin: 1em 0;
	padding: 3.5em 0;
	display: grid;
	grid-gap: 1.25em;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	justify-content: center;
}
/* grid item */
.grid-item img {
	object-fit: cover;
	width: 100%;
	max-width: 100%;
	height: auto;
	border-radius: 0.5em;
	box-shadow: 2px 2px 2px rgba(0, 36, 57, 0.4);
	transition: transform 0.4s ease-in-out;
}
/* grid item transitions/transforms */
.grid-item a:hover #img1,
.grid-item a:focus #img1 {
	transform: rotate(-15deg) scale(1.5);
	transform-origin: center bottom;
}
.grid-item a:hover #img2,
.grid-item a:focus #img2 {
	transform: skewX(15deg) scale(1.25);
	filter: saturate(3);
}
.grid-item a:hover #img3,
.grid-item a:focus #img3 {
	transform: translate(-5%, -25%) scale(1);
}
.grid-item a:hover #img4,
.grid-item a:focus #img4 {
	transform: rotate(30deg) scale(1.5);
	transform-origin: 100% 0%;
	filter: grayscale(100%);
}
.grid-item a:hover img {
	box-shadow: 6px 6px 6px rgba(0, 36, 57, 0.3);
}

/* FOOTER */
footer {
	background-color: var(--dark-green-blue);
	padding: 1em;
	color: var(--light-aqua);
	text-align: center;
}

/* laptop */
/* max-width 64em (1024px) */
@media (max-width: 64em) {
	/* BASIC styles */
	body {
		max-width: initial;
	}
	/* HEADER */
	.hero {
		padding: 3em 2em;
	}
	.hero h1 {
		font-size: 2.75rem;
	}
	.hero article p {
		font-size: 1.25rem;
	}
}
